{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="user"> <b>User</b> </label>
                    <input type="name" name="name"/><br><br>
                    <label for="images"> <b>images</b> </label>
                    <input type="price" name="price"/><br><br>
                    <button type="uploaded_date">uploaded_date</button>
                    <br><br>
                    <p>Don't have an account?<a href="like">Like</a></p>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}